*{
    background-color: rgb(105, 105, 246);
}

#timer {
    text-align: right;
    font-size: 20px;
}

.title-card{
    margin-top: 12%;
    text-align: center;
    font-size: 30px;
}

h1,
p {
    color: bisque;
}

.startButton{
    background-color: gold;
    color: black;
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
}

#problems{
    margin-left: 20%;
    margin-top: 10%;
    font-size: xx-large;
    color: rgb(84, 7, 84);
}

#buttonA,
#buttonB,
#buttonC,
#buttonD{
    background-color: rgb(105, 4, 105);
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
}
