*{
    background-color: rgb(105, 105, 246);
}

#timer {
    text-align: right;
    font-size: 20px;
}

.title-card{
    margin-top: 12%;
    text-align: center;
    font-size: 30px;
}

h1,
p {
    color: bisque;
}

.startButton{
    background-color: gold;
    color: black;
    text-align: center;
    font-size: 40px;
    border-radius: 5%;
}

#problem{
    text-align: center;
    font-size: 30%;
}

